.art-seg1 {
  background-color: var(--cor-11);
  box-shadow: inset 0 250px var(--cor-b), inset 0 -250px var(--cor-c12);
}
.bik-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#Magic .main-t-titulo p {
  text-transform: uppercase;
}
.super {
  background-color: var(--cor-c11);
}
.principal-div img {
  min-width: 200px;
  flex: 1;
}
.principal-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.principal-div img:first-child {
  min-width: 100%;
}
.bik-ctv > P {
  margin-bottom: 32px;
}
.bot {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}
.bot a {
  grid-row: span 2;
}
.bot span {
  display: flex;
  align-items: center;
  background-color: var(--cor-c12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}
.bik-ctv h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}
.div-info,
.div-ft {
  padding: 32px;
  background-color: var(--cor-c12);
  border-radius: 4px;
}
.bik-ctv h2 {
  background-color: var(--cor-c11);
}
/* .div-ft {
  display: block;
} */
.div-info {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.div-info img {
  width: 24px;
  margin-bottom: 8px;
}
.div-info h3 {
  margin-bottom: 8px;
}
.div-ft li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-c11);
}
.div-ft li:last-child {
  border-bottom: none;
}
.div-ft span {
  color: var(--cor-c6);
}
/* ------------------------- */
.art-seg1-v img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.art-seg1 {
  background-color: var(--cor-c11);
}
.speed {
  padding-top: 180px;
  padding-bottom: 180px;
}
.art-seg1-d {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 800px) {
  .bik-div {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .principal-div {
    grid-row: 2;
  }
  .art-seg1-d {
    grid-template-columns: 1fr;
  }
  .speed{
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .div-info {
    grid-template-columns: 1fr;
  }
  .bot {
    grid-template-columns: 1fr;
  }
}
