#Contato {
  background: linear-gradient(var(--cor-c11) 600px, var(--cor-c1) 0px);
}
.cont-div {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.cont-dad-div,
.Cont-for {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cont-dad-div {
  background: var(--cor-c12)
    url(/10-projeto-final/1029-decoracao/bikcraft/img/dec/bottom-left.svg)
    no-repeat bottom 20px left 20px;
  border-radius: 5px 0 0 5px;
}
.Cont-for {
  background: var(--cor-b)
    url(/10-projeto-final/1029-decoracao/bikcraft/img/dec/bottom-right.svg)
    no-repeat bottom 20px right 20px;
  border-radius: 0 5px 5px 0;
}
.cont-dad-div h2 {
  margin-bottom: 60px;
}
.cont-dad-div2 {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url(/10-projeto-final/1021-seguros/bikcraft/img/icones/local.svg)
    no-repeat 0px 2px;
}
.cont-dad-div2 p {
  margin-bottom: 8px;
}
.cont-num a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}
.cont-num a:nth-child(2) {
  margin-bottom: 32px;
}

.cont-num a:first-child {
  background: url(/10-projeto-final/1025-contato-dados/bikcraft/img/icones/email.svg)
    no-repeat 0px 2px;
}
.cont-num a:hover {
  color: var(--cor-b);
}
.cont-num a:nth-child(3) {
  background: url(/10-projeto-final/1025-contato-dados/bikcraft/img/icones/telefone.svg)
    no-repeat 0px 2px;
  margin-bottom: 60px;
}
.cont-red {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}
@media (max-width: 800px) {
  .cont-div {
    grid-template-columns: 1fr;
  }
  .cont-dad-div,
  .Cont-for {
    padding: 20px;
  }
  .cont-dad-div {
    border-radius: 5px 5px 0 0;
    background: var(--cor-c12);

  }
  .cont-for {
    border-radius: 0 0 5px 5px;
  }
  .cont-dad-div h2 {
    margin-bottom: 32px;
  }
  .cont-num a:nth-child(3) {
    background: url(/10-projeto-final/1025-contato-dados/bikcraft/img/icones/telefone.svg)
      no-repeat 0px 2px;
    margin-bottom: 32px;
  }
  .cont-red {
    margin-bottom: 12px;
  }
}
