.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: var(--cor-b);
}
.tec-span {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.tec-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  /* padding-top: 160px; */
  /* padding-bottom: 160px; */
}
.tec-article {
  box-shadow: inset 0 -80px var(--cor-b), inset 0 80px var(--cor-b);
  background-color: var(--cor-c11);
}
.tec-img {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
}
.tec-p {
  margin-top: 160px;
  margin-left: 40px;
}
.tec-p h2 {
  display: block;
  margin-bottom: 32px;
}
.tec-p > p {
  margin-bottom: 20px;
}
.tec-p a {
  margin-bottom: 80px;
}
.tec-p > span {
  display: block;
  margin-bottom: 20px;
}
.tec-icon {
  display: flex;
  gap: 40px;
}
.tec-icon h3 {
  margin-bottom: 8px;
  width: max-content;
}
.tec-icon img {
  width: 24px;
  margin-bottom: 8px;
}
.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
}
#Magic .bicicletas-lista ul {
  padding: 0px 0px 20px 10px;
}
.bicicletas-lista li {
  min-width: 200px;
  flex: 1;
}
.bicicletas-lista h2 {
  margin-bottom: 40px;
  margin: 3rem;
}
.bicicletas-lista a {
  display: block;
}
.bicicletas-lista img {
  margin-bottom: 16px;
}
.bicicletas-lista li span {
  padding-left: 20px;
}
.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #ffbb00;
  transition: width 0.2s;
}
.bicicletas-lista a:hover h3::before {
  width: 24px;
}
@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .bicicletas-lista ul {
    gap: 20px;
  }
  .tec-div {
    grid-template-columns: 1fr;
  }
  .tec-p {
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 40px;
  }
  .tec-article {
    box-shadow: initial;
  }
  .tec-img {
    display: none;
  }
  .tec-p a {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .tec-icon {
    flex-direction: column;
  }
}
