.footer {
  background-color: var(--cor-c12);
}
.footer-div {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-div h3 {
  margin-bottom: 32px;
}
.footer-div2 ul {
  margin-bottom: 32px;
}
.footer-div li {
  margin-bottom: 16px;
}
.footer-div3 {
  display: flex;
  gap: 32px;
}
.footer-div2 li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  margin-top: 16px;
  background: var(--cor-c11);
}
.footer-div a:hover {
  color: var(--cor-b);
}
.footer-p {
  grid-column: 1/-1;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .footer-div > img {
    display: none;
  }
  .footer-div {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .footer-div {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-p {
    margin-top: 0px;
  }
}
