.seguros {
  background: var(--cor-c11);
}
.seguros-main {
  background-color: var(--cor-c11);
}
#bikeseg .seguros-div {
  padding-top: 0px;
}
.maina.secundario {
  background: #2e2e2e;
  color: var(--cor-c2);
}
.maina.secundario:hover {
  background: var(--cor-c9);
}
.seguros-div {
  padding-bottom: 60px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}
.seguros-div h2 {
  grid-column: 1/-1;
}
.seguros-itens {
  background: var(--cor-c12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}
.art-seg2 ul {
  display: grid;
  gap: 40px 80px;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
}
.art-per {
  padding-bottom: 120px;
  padding-top: 120px;
}
.art-per h2 {
  margin-bottom: 60px;
}
.art-per dl > div {
  padding: 20px;
  border-radius: 4px;
}
.art-per dl > div:nth-child(odd) {
  background-color: var(--cor-c1);
}
.art-per button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}
.art-per button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
.dd-div {
  padding-right: 60px;
}
.art-per button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url(/10-projeto-final/1017-seguros/bikcraft/img/icones/seta-abrir.svg);
}
.art-per button:hover::after,
button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.art-per dd {
  display: none;
}

.art-per dd.ativa {
  display: block;
}

.art-per dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}
.art-seg11 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.art-seg {
  background: var(--cor-c12);
}
.seguros-itens h3 {
  margin-bottom: 40px;
}
.seguros-itens span {
  grid-column: 2;
  display: block;
  text-align: right;
}
.seguros-itens ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.seguros-itens a {
  grid-column: 1/-1;
}
.seguros-itens li + li {
  margin-top: 20px;
}
.seguros-itens li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(/10-projeto-final/1017-seguros/bikcraft/img/icones/lista.svg);
  position: absolute;
  left: -21px;
}
.seguros-itens li {
  display: flex;
  align-items: center;
  position: relative;
}
.art-seg2 h3,
.art-seg2 img {
  margin-bottom: 8px;
}
.ul-div {
  padding-left: 40px;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
  .art-seg2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .art-seg h2 {
    margin-bottom: 40px;
  }
  .art-seg2 ul {
    gap: 20px;
  }
  .art-per {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .art-per h2 {
    margin-bottom: 40px;
  }
}
