
.font-1-xs-p {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs-r {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s-p {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s-r {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m-p,
.font-1-m-b-p {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b-p {
  font-weight: 600;
}

.font-2-m-r {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l-p {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}


.font-2-l-r {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-l-b-r {
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  font-size: 20px;
}

.font-1-xl-p {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl-r {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl-p {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl-p {
    font-size: 3rem;
  }
  .font-2-l-r,
  .font-2-l-b-r {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl-p {
    font-size: 2rem;
  }
  .font-1-xl-p,
  .font-2-xl-r {
    font-size: 1.5rem;
  }
}
